*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    line-height: calc(1em + .5rem);
    margin: 0;
}

html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    scroll-behavior: smooth;
    text-size-adjust: none;
}

body {
    -webkit-font-smoothing: antialiased;
    font-family: sans-serif;
    min-height: 100vh;
    text-rendering: optimizeSpeed;
}

a {
    color: inherit;
    text-decoration: none;
}

button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

fieldset {
    border: none;
    padding: 0;
}

iframe {
    border: 0;
}

img,
picture,
svg,
canvas,
video {
    display: block;
    height: auto;
    max-width: 100%;
}

ul[role='list'],
ol[role='list'] {
    list-style: none;
    padding: 0;
}

input,
button,
textarea,
select {
    font: inherit;
}

textarea:not([rows]) {
    min-height: 10em;
}

h1, h2, h3, h4, h5, h6, p {
    overflow-wrap: break-word;
}

h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
}

p {
    text-wrap: pretty;
}

/* keyword animations (not widely supported yet) */
@media (prefers-reduced-motion: no-preference) {
    html {
        interpolate-size: allow-keywords;
    }
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    html {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        transition-duration: 0.01ms !important;
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        scroll-behavior: auto !important;
    }
}
